#home {
    width: 100%;
    height: 80vh;

    margin-bottom: 50px;
}

#home img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
    position: relative;
}

.home-content {
    position: absolute;
    top: 40vh;
    left: 50px;
}

.home-content h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;

    margin-bottom: 10px;
}

.shop-button {
    width: 110px;
    height: 35px;

    text-align: center;

    border: 1px solid #fff;
}

.shop-button a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}