.highlight-container, 
.promotion-container {
    width: 100%;
    padding: 0 20px;
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

#highlight-slider {
    height: 300px;
}

#highlight-slider,
#promotion-slider {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#highlight-slider::-webkit-scrollbar,
#promotion-slider::-webkit-scrollbar {
    height: 0;
}

#prev,
#next, 
#previous,
#nexting {
    width: 40px;
    height: 40px;
    padding-top: 3.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: #000;
    background-color: #fff;

    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
} 

#prev, #previous {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next, #nexting {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

#highlight-slider-content,
#promotion-slider-content {
    display: flex;

    gap: 45px;
}

.highlight-slider-item {
    width: 250px;
    height: 300px;

    display: flex;
    flex-direction: column;
}

.highlight-slider-item img, 
.promotion-slider-item img {
    width: 250px;
    height: 250px;

    background-color: #fff;
    object-fit: cover;
}

.highlight-slider-item span {
    height: 100px;

    font-size: 1.5rem; 
    text-transform: lowercase;
    color: #fff;
}

.details {
    width: 250px;
    height: 120px;

    padding: 5px;
    margin-top: -6px;

    background-color: #b4b4b4;
}

.details .title {
    width: 100%;
    height: 80px;
}

.title span {
    font-size: 1.3rem;
    font-weight: lighter;
    text-transform: lowercase;
}

.prices .old-price {
    font-size: 1.3rem;
    text-decoration: line-through;
}

.prices .new-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.see-more {
    width: 250px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: #521616;
}

.see-more span {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}

@media screen and (max-width: 480px) { 
    #prev,
    #next {
        display: none !important;
    }

}