@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rokkitt&display=swap');

/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* considerações gerais */
body {
    font-family: 'Rokkitt', serif;
    background-color: #000;
}

#highlights h1,
#promotions h1,
#catalogue h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/* header */
header {
    width: 100%;
    min-height: 70px;

    background-color: #fff;
}

.logo {
    font-family: 'Inconsolata', monospace;

    text-align: center;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 500;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

#nav-items {
    width: 100%;

    display: none;
    position: absolute;
    z-index: 10;
    top: 70px;

    background-color: #000;
}

#nav-items a {
    font-size: 1.2rem;
    color: #fff;

    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
}

.nav a.icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0px 0px 10px;
}

.nav a.icon img {
    width: 45px;
    height: 40px;
}

/* home */
#home {
    width: 100%;
    height: 80vh;

    margin-bottom: 50px;
}

#home img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
    position: relative;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50px;
}

.home-content h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;

    margin-bottom: 10px;
}

.shop-button {
    width: 110px;
    height: 35px;

    text-align: center;

    border: 1px solid #fff;
}

.shop-button a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

/* slider */
.horizontal-scroll {
    display: -ms-flexbox;
    display: flex;

    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    padding-bottom: 30px;
}

.slider {
    width: 100%;
    height: 100%;

    /* position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; */
}

.slider-container {
    padding: 0px 20px;
}

.slider-button {
    display: none;

    /* width: 40px;
    height: 40px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    color: #fff;
    background-color: #000;

    border-radius: 50%;
    cursor: pointer; */
}

#proximo {
    /* right: 0; */
}

.slider-item-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    overflow: hidden;
}

.slider-item {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transition: all ease-in 1s;   */
}

.slider-item:first-child {
    margin-left: 0px;
}

.slider-item img,
.catalogue-item img {
    width: 250px;
    height: 250px;

    object-fit: cover;
}

.slider-item span,
.catalogue-item span {
    width: 250px;
    max-height: 100px;

    font-size: 1.5rem;
    color: #fff;
}

/* destaques */
#highlights {
    width: 100%;
    margin-bottom: 50px;
}

/* promoções */
#promotions {
    width: 100%;
    height: 90vh;
}

.details {
    width: 250px;
    height: 120px;

    padding: 10px 5px 5px 10px;

    background-color: #b4b4b4;
}

.details .title {
    width: 100%;
    height: 80px;
}

.details span:first-child {
    font-size: 1.3rem;
    font-weight: lighter;

    color: #000;
}

.prices .new-price {
    font-weight: bold;
    color: #000;
}

.prices .old-price {
    font-size: 1.2rem;
    text-decoration: line-through;

    margin-right: 30px;
}

.see-more {
    width: 250px;
    height: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

    background-color: #521616;
}

.see-more span {
    cursor: pointer;
}

.details-line {
    width: 100%;
    border: 1px solid #161616;

    margin-bottom: 10px;
}

/* catálogo */
#catalogue {
    position: relative;
    top: 10vh;
}

.catalogue {
    min-height: 50vh;
    display: flex;
}

.catalogue-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;
}

.catalogue-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 30px;
}

/* menu generos */
.catalogue .nav {
    width: 40px;

    z-index: 10;
}

.catalogue .nav img {
    width: 45px;
    height: 45px;

}

#nav-gender {
    width: 250px;
    margin-top: -5px;

    display: none;

    background-color: #6B6B6B;
}

#nav-gender a {
    font-size: 1.2rem;
    color: #fff;
    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
}

#nav-gender a:hover {
    background-color: #161920;
}