@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rokkitt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Rokkitt:wght@300&display=swap');

/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* considerações gerais */
body {
    font-family: 'Rokkitt', serif;
    background-color: #000;
}

#highlights h1,
#promotions h1,
#catalogue h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/* header */
header {
    width: 100%;
    min-height: 70px;

    position: absolute;
    z-index: 30;

    background-color: #fff;
}

.logo {
    font-family: 'Inconsolata', monospace;

    text-align: center;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 500;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

#nav-items {
    width: 100%;

    display: none;

    position: absolute;
    z-index: 10;
    top: 70px;

    /* transition: transform .5s ease-in-out;
    transform: translateY(-240px); */

    background-color: #000;
}

#nav-items a {
    font-size: 1.2rem;
    color: #fff;

    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
}

.nav a.icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0px 0px 10px;
}

.nav a.icon img {
    width: 45px;
    height: 40px;
}

/* home */
#home {
    width: 100%;
    height: 80vh;

    margin-bottom: 50px;
}

#home img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
    position: relative;
}

.home-content {
    position: absolute;
    top: 40vh;
    left: 50px;
}

.home-content h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;

    margin-bottom: 10px;
}

.shop-button {
    width: 110px;
    height: 35px;

    text-align: center;

    border: 1px solid #fff;
}

.shop-button a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

/* slider */
.horizontal-scroll {
    overflow-x: hidden;  
}

.slider {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-container {
    padding: 0px 20px;
}

.slider-button {
    width: 40px;
    height: 40px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    color: #fff;
    background-color: #000;

    border-radius: 50%;
    cursor: pointer;
}

#proximo {
    right: 0;
}

.slider-item-container {
    display: flex;

    gap: 50px;

    overflow: hidden;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all ease-in 1s;
}

.slider-item:first-child {
    margin-left: 0px;
}

.slider-item img,
.catalogue-item img {
    width: 250px;
    height: 250px;

    object-fit: cover;
}

.slider-item span,
.catalogue-item span {
    width: 250px;
    height: 100px;

    font-size: 1.5rem;
    color: #fff;
}

/* destaques */
#highlights {
    width: 100%;
    margin-bottom: 50px;
}

/* promoções */
#promotions {
    margin-bottom: 50px;
}

#promotions .horizontal-scroll {
    padding-bottom: 30px;
}

.details {
    width: 250px;
    height: 120px;

    padding: 5px;

    background-color: #b4b4b4;
}

.details .title {
    width: 100%;
    height: 80px;
}

.details span:first-child {
    font-size: 1.3rem;
    font-weight: lighter;

    color: #000;
}

.prices .new-price {
    font-weight: bold;
    color: #000;
}

.prices .old-price {
    font-size: 1.2rem;
    text-decoration: line-through;
}

#see-more {
    width: 250px;
    height: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

    background-color: #521616;
}

#see-more span {
    cursor: pointer;
}

.details-line {
    width: 100%;
    border: 1px solid #161616;

    margin-bottom: 10px;
}

/* catálogo */
#catalogue {
    min-height: 60vh;
    margin-bottom: 100px;
}

.catalogue {
    display: flex;
    gap: 20px;
}

.catalogue-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 30px;
}

.catalogue-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

/* menu generos */
.catalogue #nav {
    width: 45px;
    height: 45px;

    z-index: 10;
}

.catalogue #nav img {
    width: 50px;
    height: 50px;
}

#nav-gender {
    width: 250px;
    height: 300px;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #521616 transparent;

    margin-top: -5.7px;

    display: flex;
    flex-direction: column;

    background-color: #6B6B6B;

    position: absolute;

    z-index: 100;
    transition: transform .5s ease-in-out;
    transform: translateX(-245px);
}

#nav-gender::-webkit-scrollbar {
    width: 6px; 
}
#nav-gender::-webkit-scrollbar-thumb {
    background-color: #521616;
}

#nav-gender a {
    font-size: 1.2rem;
    color: #fff;
    display: block;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
}

#nav-gender a:hover {
    background-color: #161920;
}

/* footer */
.about-us {
    width: 100%;
    height: 270px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.about-us img {
    width: 100%;
    height: 270px;

    object-fit: cover;
    position: absolute;
}

.line {
    width: 100%;
    border: 1px solid #fff;

    position: relative;
    margin-bottom: 10px;
}

.about-us h1,
.about-us span {
    font-family: 'Inconsolata', monospace;
    color: #fff;

    position: relative;
}

.about-us h1 {
    font-size: 1.8rem;
    font-weight: 400;

    margin-bottom: 10px;
}

.about-us span {
    width: 200px;

    font-size: 1.3rem;
    font-weight: 300;
}

#contact-us {
    width: 100%;
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 56px;

    background-color: #fff;
}

.send-message {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.send-message span {
    font-size: 1.12rem;
    font-weight: 500;
}

.nome,
.email,
.txtArea {
    width: 200px;

    font-family: 'Rokkitt';
    font-size: 1rem;
    font-weight: lighter;

    border: 1px solid #000;
}

.nome,
.email {
    height: 35px;
}

.txtArea {
    height: 80px;

    resize: none;
}

.btnEnviar {
    width: 100px;
    height: 30px;

    font-family: 'Rokkitt';
    font-size: 1rem;
    font-weight: 500;

    border: 1px solid #000;
    background-color: transparent;
}

.social-media {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.copyright {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span {
    width: 270px;

    font-size: 1.12rem;
    font-weight: lighter;
    color: #fff;

    text-align: center;
}

@media screen and (min-width: 900px) {
    #nav-items {
        width: 100%;

        display: flex !important;

        position: absolute;
        z-index: 10;
        top: 15px;

        background-color: transparent;
    }

    #nav-items a {
        display: block;

        font-size: clamp(1.2rem, 2vw, 1.5rem);
        color: #000;
        text-decoration: none;
    }

    .nav a.icon img {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .horizontal-scroll {
        display: -ms-flexbox;
        display: flex;

        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .slider-button {
        display: none;
    }

}